<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/blogs">All Blogs</a></li>
        

        {% if user_authenticated %}
            <li><a href="/create-blog">Create Blog</a></li>  <!-- Show only if authenticated -->
            <hr>
            <li>Welcome, {{ username }}</li>
            <li><a href="/logout">Logout</a></li>
        {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/registration">Register</a></li>
        {% endif %}
    </ul>
</nav>
