<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    <div class="container">
        {% include 'navbar.html' %}

        <h1> Services of our website</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quae facere optio maxime non, soluta possimus quo doloremque provident! Quod mollitia quasi quisquam ullam accusamus perspiciatis quibusdam harum praesentium repudiandae minima similique maiores eligendi esse sunt est, nobis nostrum sit officiis eum voluptatibus ratione. Sint dicta necessitatibus cum ex harum.</p>

        <button>Contact Us</button>
    </div>
    
</body>
</html>