{% extends "base.html" %}

{% block title %}All Blogs{% endblock %}

{% block content %}
<div >
    <h1 >All Blogs</h1>
    <div >
        {% for blog in blogs %}
            <div >
                <h2>{{ blog.title }}</h2>
                <p>{{ blog.body }}</p>
                <form action="/blog/{{ blog.id }}" method="POST">
                    <button type="submit" >Delete Blog</button>
                </form>
            </div>
        {% else %}
            <p class="text-center">No blogs available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}