{% extends "base.html" %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ blog.title }}</h1>
    <p>{{ blog.body }}</p>
    {% if user_authenticated %}

        <form action="/blog/{{ blog.id }}/" method="post">
            <button type="submit"> Delete Blog</button>
        </form>
    {% else %}
        <p><a href="/login">Login</a> to delete this blog.</p>
    {% endif %}
    
    <h2>Comments</h2>
    <div class="comments">
        {% if comments %}
            {% for comment in comments %}
                <div class="comment">
                    <b>{{ comment.username }}</b> : <p>{{ comment.content }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No comments yet.</p>
        {% endif %}
    </div>

    {% if user_authenticated %}
        <h3>Leave a Comment</h3>
        <form action="/blogs/{{ blog.id }}/comment" method="post">
            <textarea name="comment_content" placeholder="Your comment" required></textarea><br>
            <button type="submit">Post Comment</button>
        </form>
    {% else %}
        <p><a href="/login">Login</a> to post a comment.</p>
    {% endif %}

    <br>
    <a href="/blogs/">Back to all blogs</a>
</div>
{% endblock %}
