{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1 >Login Page</h1>
    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>
    
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        {% if request.query_params.get('error') %}
        <p style="color: red;">{{ request.query_params.get('error') }}</p>
    {% endif %}
    
        <button type="submit">Register</button>
    </form>
    
{% endblock %}
