@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #f9fafb;
  color: #1b1b1b;

}

button:hover {
  cursor: pointer;
}

nav{
  border: 1px solid grey;
}

li {
  background-color: #e4e4e4; /* Change to any color you prefer */


}
li > a{
  background-color: #e4e4e4;
}

footer{
  background-color: #e4e4e4;
  border: 1px solid grey;
}

